body {
  font-family: "Open Sans", sans-serif;
  font-size: 0.8em;
  line-height: 1;
}
textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: rgb(91, 182, 91, 0.3);
  font-size: 20px;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid rgb(91, 182, 91);
}

.description {
  white-space: pre-wrap;
}

.time-block {
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
  padding: 5px;
}

.hour {
  background-color: rgba(195, 240, 195, 0.3);
  text-align: center;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom: 1px solid black;
  line-height: 65px;
  font-size: 20px;
}

.past {
  background-color: rgba(99, 96, 96, 0.5);
  color: black;
}

.present {
  background-color: rgba(223, 90, 83, 0.5);
  color: black;
}

.future {
  background-color: rgba(94, 179, 94, 0.5);
  color: black;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: rgb(6, 174, 213, 0.7);
  color: white;
  padding: 10px 25px 10px 25px;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

/* Footer */

footer {
  background: rgba(54, 54, 54, 0.7);
  border-top: 9px solid rgb(91, 182, 91);
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10%;
}

.footer-copyright {
  font-size: 13px;
  color: #cccccc;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.portLink {
  font-size: 13px;
  color: #cccccc;
}

/* media query for screen size*/
@media (max-width: 768px) {
  .row {
    height: 100%;
    border-radius: 10;
    margin: 10px;
  }

  .saveBtn {
    border-radius: 0 0 15px 15px;
  }

  .hour {
    border-radius: 15px 15px 0 0;
  }
}
