.jumbotron {
  color: pink;
  border-radius: 0;
  text-align: center;
  background-color: rgb(52, 119, 182);
  font-size: 20px;
  border-bottom: 10px solid rgb(114, 114, 230);
}

body {
  font-size: 20px;
  font-family: monospace;
  line-height: 10px;
  text-align: center;
  background-image:url(Assets/images/day.jpeg);
}

.lead {
  color: bisque;
  text-align: center;
}

.time-block p {
  border-right: solid black 1px;
  max-height: 70px;
}

textarea {
  border-radius: 5px;
  border: none;
  resize: none;
  color: black;
  background: transparent;
  padding: 10px;
  width: auto;
  text-align: center;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;

}

.hour {
  background-color: rgba(195, 240, 195, 0.3);
  text-align: center;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom: 1px solid black;
  line-height: 70px;
  font-size: 25px;
  font-family: monospace;
}

.row {
  border-top: 1px solid rgb(214, 200, 200);
  padding: 5px;
  height: 82px;
  white-space: nowrap;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;

}

.past {
  background-color: gray;
  color: black;
}
.present {
  background-color: rgba(236, 29, 18, 0.5);
  color: black;
}
.future {
  background-color: rgba(14, 160, 14, 0.863);
  color: black;
}

.saveBtn {
  max-height: 70px;
  background-color: rgba(68, 82, 163, 0.7);
  border-left: 1px solid black;
  border-radius: 5px 5px 5px 5px;
}
/* Footer */
footer {
  background-color: rgb(52, 119, 182);
  border-top: 10px solid rgb(114, 114, 230);
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10%;
}
.footer-copyright {
  font-size: 15px;
  color: rgb(189, 183, 183);
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

@media (max-width: 680px) {
  .hour {
    border-radius: 10px 10px 10px 10px;
  }
  .row {
    height: 100%;
    border-radius: 10px;
    margin: 10px;
  }
  .saveBtn {
    border-radius: 0 0 10px 10px;
  }
}